@charset "utf-8";
/* CSS Document */
/****************************************************************
    共通設定（PC・タブレット）
    頭文字：mygroup_edit
****************************************************************/
div#mygroup_edit{

}

div#header_container {
    background-color: #efeeee;
    border-radius: 3px;
    margin: 5px 5px 0 5px;
    padding: 5px 10px;
}

/* ヘッダー; 1行目 */
div#header_container .row01{
    margin-bottom:8px;
    line-height: 30px;
}

/* 編集モード */
.editStatus {
    float: right;
    min-width: 80px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    padding: 0 5px;
    margin: 0 10px 0 0;
    border: 1px solid #898989;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3) inset;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    font-size: 14px!important;
}

/* 編集モード: 新規 */
.editStatus_new {
    background-color: #f6c950;
}

.editStatus_new:after {
    content: "新規";
}

/* 編集モード: 修正 */
.editStatus_modify {
    background-color: #f6c950;
}

.editStatus_modify:after {
    content: "修正";
}

/* ヘッダー; 2行目左側 */
div#header_container .row02.posLeft {
    float:left;
    width: calc(100% - 100px);
    min-width:300px;
    line-height: 30px;
}
div#header_container .row02.posLeft > * {
    float: left;
    display: inline-block;
}
.posLeft_inr {
    position: relative;
    width: 200px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
select#myGroupName_drpdwn {
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
}
select#myGroupName_drpdwn option {
    font-size: 14px;
}

div#header_container input#txtGroupName {
    height: 28px;
    line-height: 28px;
    width: calc(100% - 25px);
}

/* ボタン: グループソート */
div#header_container input#grSort_btn {
    width: 40px;
    background-image: url('/WebCommon/Content/Images/icon_Sorting_W.png');
    background-repeat: no-repeat;
    -webkit-background-size: 24px auto;
    background-size: 24px auto;
    background-position: 7px 2px;
}

/* ヘッダー; 2行目右側 */
div#header_container .row02.posRight {
    float:right;
}

/* チェックボックス: 削除 */
label.checkbox.grDeleteFlg {
    margin-bottom: 0px!important;
    margin-top: 8px;
}


div#main_container{
    width:auto;
    height:auto;
    overflow: auto;
    /*Apple製品でスクロール対応するための記載*/
    -webkit-overflow-scrolling: touch;
}

/* カラムコンテナ */
div#col_container{
    margin:8px 4px 4px 4px;
    min-width:672px;
}

/* カラム左 */
div#left_column{
    width: calc(50% - 5px);
    height:100%;
    float: left;
    border:1px solid #898989;
    margin: 0px 4px 0px 4px;
    padding:2px 0px 2px 0px;
}


/* 左メニュー */
div#leftMenu_container {
    padding-top: 4px;
}

/* 左メニュー: ボタン */
div#leftMenu_container input {
    width: 31%;
    min-width: 150px;
    max-width: 204px;
    margin: 1px 0px 3px 5px;
    float: left;
}
div#leftMenu_container input.row2 {
    width: 23%;
    min-width: 110px;
    max-width: 151px;
}


div#group_container > div {
    height: calc(100% - 30px);
    overflow: auto;
    /*Apple製品でスクロール対応するための記載*/
    -webkit-overflow-scrolling: touch;
}


/* グループリスト */
div#left_column ul.groupList {
    width:100%;
    height:auto;
    padding-bottom:2px;
}

/* グループリスト: タイトル */
div#group_container span#grTitle_label {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    display: block;
    border: 1px solid #898989;
    border-left: none;
    border-right: none;
}


/* グループリスト: 要素 */
div#left_column ul.groupList li {
    width:100%;
    padding: 5px 5px;
    border-bottom:1px solid #898989;
    cursor: pointer;
}

div#left_column ul.groupList li:hover {
    background-color:#d0e6ff!important;
}

div#left_column ul.groupList li.active {
    background-color:#d0e6ff!important;
}



/* カラム右 */
div#right_column {
    width: calc(50% - 11px);
    height:100%;
    float: left;
    border: 3px solid #00aed9;
    margin: 0px 4px 0px 4px;
    padding: 0px 0px 2px 0px;
}

div#select_container{
    height:100%;
}

div#select_container > div{
    height: calc(100% - 30px - 3px);
    overflow: auto;
    /*Apple製品でスクロール対応するための記載*/
    -webkit-overflow-scrolling: touch;
}

ul.selectList {
    width: 100%;
    height: auto;
    padding-bottom:2px;
}

/* 選択リスト: タイトル */
div#select_container span#selectList_label{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    display: block;
    border-bottom: 1px solid #898989;
}

/* 選択リスト: 要素 */
div#select_container ul.selectList li {
    width:100%;
    padding: 5px 5px;
    border-bottom:1px solid #898989;
}


/* 選択リスト: 削除アイコン */
ul.selectList span.delete_icon {
    display: inline-block;
    width: 30px;
    background-image: url('/WebCommon/Content/Images/icon_clear_gray.png');
    background-repeat: no-repeat;
    -webkit-background-size: 50px auto;
    background-size: 50px auto;
    background-position: -13px center;
    padding: 12px;
    float: right;
    cursor: pointer;
}

/* フッター */
div#footer_container{
    width:100%;
    margin: 4px;
}

/* フッターメニュー*/
div#footer_menu{
    padding:4px;
}

/* フッターメニュー: ボタン */
div#footer_menu input.BtnBtn {
    width:100px;
}

/* ボタン: 新規作成 */
div#footer_menu #grNew_btn{
    width: 110px!important;
    background-image: url('/WebCommon/Content/Images/icon_plus_W.png');
    background-repeat: no-repeat;
    -webkit-background-size: 24px auto;
    background-size: 24px auto;
    background-position: 8px 1px;
    padding-left: 25px;
    margin-right:14px;
}

/* チェックボックス: 削除済み表示 */
label.checkbox.grDeletedDispFlg {
    margin-bottom: 0px!important;
}


/* ボタン:画面右 */
div#footer_menu span.posRight{
    float:right;
    margin-right: 10px;
}

/*----------------------------------------------------
    チェックボックス用スタイル
----------------------------------------------------*/
/* チェックボックス ＋ ラジオボタン 共通 */
.Original {
    position: relative;
}
.Original input[type=radio], .Original input[type=checkbox] {
    opacity: 0;
    position: absolute;
}
.Original input[type=radio] + label, .Original input[type="checkbox"] + label {
    font-size: 16px;
}

/* チェックボックススタイル */
.Original .checkbox  {
    position: relative;
    display: inline-block;
    left: 0px;
    padding: 0px 0px 0px 24px;
    margin-right: 20px;
    box-sizing: border-box;
            transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
            border-radius: 2px;
       -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
}
.Original .checkbox:before {
    width: 8px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 6px;
    display: block;
    margin-top: 0px;
            transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    border-right: 3px solid #0b9bbf;
    border-bottom: 3px solid #0b9bbf;
    content: '';
    opacity: 0;
            transform: rotate(45deg);
       -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1;
}
.Original .checkbox:after {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    margin-top: 0px;
            transition: border-color 0.2s linear;
    -webkit-transition: border-color 0.2s linear;
    border: 2px solid #bbb;
            border-radius: 2px;
       -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #FFF;
    content: '';
    z-index: 0;
}
.Original input[type="checkbox"]:checked:before {
    width: 8px;
    height: 3px;
    position: absolute;
    left: 2px;
    top: 14px;
    display: block;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    content: "";
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: right center;
}
input[type=checkbox]:checked + .checkbox:before {

}

/* ラジオボタンスタイル */
.Original .radio {
    position: relative;
    left: 0px;
    display: inline-block;
    padding: 0px 0px 0px 25px;
    margin-right: 18px;
    box-sizing: border-box;
    -webkit-transition: background-color 0.2s linear;
            transition: background-color 0.2s linear;
            border-radius: 2px;
       -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
}
.Original .radio:after {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    margin-top: 0px;
    -webkit-transition: border-color 0.2s linear;
            transition: border-color 0.2s linear;
    border: 2px solid #bbb;
            border-radius: 10px;
       -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFF;
    content: '';
    z-index: 0;
}
.Original .radio:before {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    margin-top: 0px;
    -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
            border-radius: 50%;
       -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #0b9bbf;
    content: '';
    opacity: 0;
    z-index: 1;
}

.Original input[type=radio]:checked + .Original .radio:before {

}
